<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="username" value="api.employee.screening@coh.org.ctracker" />
  <add key="password" value="3mPL0Yee$cr33n@dev" />
  <add key="token" value="0tilFI6yaoKWfdvHwz6VLM5W" />
  <add key="clientId" value="3MVG9eQyYZ1h89Hd9C8buXuJs3UPa_FMnwoLNCFgsBudzHcRF9hqr8_qw4CQWtW1__fsjROuNo3frtrdDaPWr" />
  <add key="clientSecret" value="2A83217608F74061A497D65051E037511133F5F00A42FD9F42BE54B850186B5B" />
</configuration>